# Homework 1

## Questions

### Q1. Pandas version

What's the version of Pandas that you installed?

In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.2'

## Getting the data

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [4]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

### Question 2. Records count (1 point)

How many records are in the dataset?

- 4704

- 8704

- 9704

- 17704

In [5]:
df.shape[0]

9704

### Question 3. Fuel types (1 point)

How many fuel types are presented in the dataset?

- 1
- 2
- 3
- 4

In [6]:
df.fuel_type.nunique()

2

### Question 4. Missing values (1 point)

How many columns in the dataset have missing values?

- 0
- 1
- 2
- 3
- 4

In [7]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

### Question 5. Max fuel efficiency (1 point)

What's the maximum fuel efficiency of cars from Asia?

13.75

23.75

33.75

43.75

In [8]:
round(df[df['origin'] == 'Asia'].fuel_efficiency_mpg.max(), 2)

23.76

### Question 6. Median value of horsepower (1 point)


Yes, it increased

Yes, it decreased

No

Step 1: Find the median value of horsepower column in the dataset.

In [9]:
df_copy = df.copy()

Step 2: Next, calculate the most frequent value of the same horsepower column.

In [10]:
df_copy.horsepower.mode()

0    152.0
Name: horsepower, dtype: float64

In [11]:
df_copy.horsepower.isna().sum()

np.int64(708)

Step 3: Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step

In [12]:
df_copy.horsepower.fillna(df_copy.horsepower.mode(), inplace=True)

/tmp/ipython-input-2999894686.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_copy.horsepower.fillna(df_copy.horsepower.mode(), inplace=True)

Step 4: Now, calculate the median value of horsepower once again.

In [13]:
df_copy.horsepower.mode()

0    152.0
Name: horsepower, dtype: float64

### Question 7. Sum of weights (1 point)


0.051

0.51

5.1

51

Step 1: Select all the cars from Asia

In [14]:
df_asia = df[df['origin'] == 'Asia']

In [15]:
df_asia.head(1)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.21931,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554

Step 2: Select only columns vehicle_weight and model_year

Step 3: Select the first 7 values


Step 4: Get the underlying NumPy array. Let's call it X.

In [16]:
X = df_asia[['vehicle_weight', 'model_year']].head(7).to_numpy()

Step 5: Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

In [17]:
XTX = X.T.dot(X)

Step 6: Invert XTX.

In [18]:
import numpy as np
XTX_inv = np.linalg.inv(XTX)

Step 7: Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].

In [19]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

Step 8: Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

In [20]:
result = XTX_inv.dot(X.T).dot(y)

Step 9: What's the sum of all the elements of the result?

In [21]:
result.sum().round(2)

np.float64(0.52)